<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100yuanlibao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{352,54}</string>
                <key>spriteSourceSize</key>
                <string>{360,60}</string>
                <key>textureRect</key>
                <string>{{1424,1440},{352,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12yuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{145,42}</string>
                <key>spriteSourceSize</key>
                <string>{155,48}</string>
                <key>textureRect</key>
                <string>{{1955,1292},{145,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1zong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,30}</string>
                <key>spriteSourceSize</key>
                <string>{143,30}</string>
                <key>textureRect</key>
                <string>{{1999,1292},{143,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>arrowgray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,67}</string>
                <key>spriteSourceSize</key>
                <string>{46,67}</string>
                <key>textureRect</key>
                <string>{{1480,1440},{46,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baoxianganiopen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{206,202}</string>
                <key>spriteSourceSize</key>
                <string>{274,252}</string>
                <key>textureRect</key>
                <string>{{927,1403},{206,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battleani2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-141,18}</string>
                <key>spriteSize</key>
                <string>{156,276}</string>
                <key>spriteSourceSize</key>
                <string>{640,410}</string>
                <key>textureRect</key>
                <string>{{1884,1517},{156,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battleani2-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,9}</string>
                <key>spriteSize</key>
                <string>{402,258}</string>
                <key>spriteSourceSize</key>
                <string>{640,410}</string>
                <key>textureRect</key>
                <string>{{1480,1535},{402,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battleani3-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-25}</string>
                <key>spriteSize</key>
                <string>{322,162}</string>
                <key>spriteSourceSize</key>
                <string>{640,336}</string>
                <key>textureRect</key>
                <string>{{808,1239},{322,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battleani3-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,19}</string>
                <key>spriteSize</key>
                <string>{308,250}</string>
                <key>spriteSourceSize</key>
                <string>{640,336}</string>
                <key>textureRect</key>
                <string>{{1,1797},{308,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battleani3-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,25}</string>
                <key>spriteSize</key>
                <string>{324,244}</string>
                <key>spriteSourceSize</key>
                <string>{640,336}</string>
                <key>textureRect</key>
                <string>{{808,913},{324,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackshader.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,252}</string>
                <key>spriteSourceSize</key>
                <string>{274,252}</string>
                <key>textureRect</key>
                <string>{{1273,1795},{274,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bossimage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,67}</string>
                <key>spriteSourceSize</key>
                <string>{113,67}</string>
                <key>textureRect</key>
                <string>{{1136,913},{113,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buzhenzhuangbeiback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{628,648}</string>
                <key>spriteSourceSize</key>
                <string>{640,650}</string>
                <key>textureRect</key>
                <string>{{623,1},{628,648}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chaojibanjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{336,60}</string>
                <key>spriteSourceSize</key>
                <string>{340,60}</string>
                <key>textureRect</key>
                <string>{{1955,561},{336,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{192,250}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{509,1797},{192,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>expicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2021,384},{28,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanggaoyuanbaoicon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{927,1607},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huiyuandik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,580}</string>
                <key>spriteSourceSize</key>
                <string>{280,580}</string>
                <key>textureRect</key>
                <string>{{623,631},{280,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huodongicondikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,125}</string>
                <key>spriteSourceSize</key>
                <string>{122,125}</string>
                <key>textureRect</key>
                <string>{{1424,1273},{122,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huodongyuanbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1955,1001},{98,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{483,24}</string>
                <key>spriteSourceSize</key>
                <string>{483,40}</string>
                <key>textureRect</key>
                <string>{{2021,414},{483,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leftarrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,67}</string>
                <key>spriteSourceSize</key>
                <string>{45,67}</string>
                <key>textureRect</key>
                <string>{{1480,1488},{45,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelup4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,28}</string>
                <key>spriteSize</key>
                <string>{286,520}</string>
                <key>spriteSourceSize</key>
                <string>{342,666}</string>
                <key>textureRect</key>
                <string>{{1136,1273},{286,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupword1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{407,66}</string>
                <key>spriteSourceSize</key>
                <string>{419,100}</string>
                <key>textureRect</key>
                <string>{{1205,631},{407,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lingquzhanlipin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,66}</string>
                <key>spriteSourceSize</key>
                <string>{165,70}</string>
                <key>textureRect</key>
                <string>{{1205,1040},{165,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meiridengludikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{558,746}</string>
                <key>spriteSourceSize</key>
                <string>{560,750}</string>
                <key>textureRect</key>
                <string>{{1273,1},{558,746}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meirihaohuaqiandao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{348,76}</string>
                <key>spriteSourceSize</key>
                <string>{430,76}</string>
                <key>textureRect</key>
                <string>{{1699,1439},{348,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp-enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{192,250}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{703,1797},{192,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp-xiakeheadimage69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1955,1101},{94,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pp-xiakeimage13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{184,250}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1087,1797},{184,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp-xiakeimage36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{188,250}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{897,1797},{188,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp-xiakeimage40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{148,248}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1549,1273},{148,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp-xiakeimage6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{196,250}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{311,1797},{196,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp-xiakeimage62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{214,252}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1825,1795},{214,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp-xiakeimage69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{254,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1699,1181},{254,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiyucostback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{156,26}</string>
                <key>spriteSourceSize</key>
                <string>{162,32}</string>
                <key>textureRect</key>
                <string>{{2021,226},{156,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>selectboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1136,1204},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenxialibao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{424,74}</string>
                <key>spriteSourceSize</key>
                <string>{500,76}</string>
                <key>textureRect</key>
                <string>{{1273,1197},{424,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenzhuangdalibao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{324,78}</string>
                <key>spriteSourceSize</key>
                <string>{372,92}</string>
                <key>textureRect</key>
                <string>{{808,1159},{324,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoucichongzhi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{122,38}</string>
                <key>spriteSourceSize</key>
                <string>{220,50}</string>
                <key>textureRect</key>
                <string>{{1424,1400},{122,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>storyback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,120}</string>
                <key>spriteSourceSize</key>
                <string>{640,120}</string>
                <key>textureRect</key>
                <string>{{494,1675},{640,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whiteshader.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,252}</string>
                <key>spriteSourceSize</key>
                <string>{274,252}</string>
                <key>textureRect</key>
                <string>{{1549,1795},{274,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuhunbarback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,26}</string>
                <key>spriteSourceSize</key>
                <string>{223,26}</string>
                <key>textureRect</key>
                <string>{{2021,1},{223,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiakeinfoback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{618,680}</string>
                <key>spriteSourceSize</key>
                <string>{624,680}</string>
                <key>textureRect</key>
                <string>{{1273,561},{618,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xinzhoumubutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,117}</string>
                <key>spriteSourceSize</key>
                <string>{261,117}</string>
                <key>textureRect</key>
                <string>{{808,1403},{261,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xisuijing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1205,1207},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanbaoitem6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{927,1607},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanbaoitem8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1001,1607},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{882,491}</string>
                <key>spriteSourceSize</key>
                <string>{882,491}</string>
                <key>textureRect</key>
                <string>{{1,913},{882,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{760,312}</string>
                <key>spriteSourceSize</key>
                <string>{760,312}</string>
                <key>textureRect</key>
                <string>{{494,913},{760,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhengrongbutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{86,67}</string>
                <key>spriteSourceSize</key>
                <string>{92,85}</string>
                <key>textureRect</key>
                <string>{{1136,1028},{86,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhengrongbutton2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{86,67}</string>
                <key>spriteSourceSize</key>
                <string>{92,85}</string>
                <key>textureRect</key>
                <string>{{1136,1116},{86,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuangbei38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{92,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1955,899},{92,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuangbeiiconbackwhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,92}</string>
                <key>spriteSourceSize</key>
                <string>{93,92}</string>
                <key>textureRect</key>
                <string>{{1955,1197},{93,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuangbeilock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,60}</string>
                <key>spriteSourceSize</key>
                <string>{59,60}</string>
                <key>textureRect</key>
                <string>{{1075,1607},{59,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhujueinfback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{620,910}</string>
                <key>spriteSourceSize</key>
                <string>{640,910}</string>
                <key>textureRect</key>
                <string>{{1,1},{620,910}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kungfudungeons-0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f737b7c405dc321705eb46bcba9cad54:5f80e86aff6029a4e32ffda50142bcc2:0e39fdd1f192b84d1403fa0ac47a092b$</string>
            <key>textureFileName</key>
            <string>kungfudungeons-0.png</string>
        </dict>
    </dict>
</plist>
